# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
.env

# PyInstaller / Executables / Build
*.exe
*.spec
build/
dist/
*.manifest
*.log
cloudflared.exe
ConsultaOficios.exe
ConsultaOficios.spec
MEU_LINK.txt
check_js.py
test_script.js

# Windows Automation / Shortcuts
*.vbs
*.lnk

# Vercel
.vercel/

# IDEs & System
.idea/
.vscode/
*.swp
*.swo
Thumbs.db
Desktop.ini
